{%extends 'base.html'%}

{%block content%}
{{super()}}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Flask Blog</h1>
            <span class="subheading">A Blog about Flask and what I have learnt</span>
          </div>
        </div>
      </div>
    </div>
  </header>
<br>
<br>

  <div class="container">
    {%for post in posts%}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="/post/{{post.id}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.blog}}
            </h3>
          </a>
          <p class="post-meta">Posted by:
            {{post.user.username}}</a>
            {{post.blog_created}}</p>
        </div>
    
        
    
      </div>
    </div>
    {%endfor%}
  </div>

{%endblock%}