{% extends 'base.html' %}

{%block content%}
{{super()}}

<div class="jumbotron">
<div class="row">
    <div class="col-md-6">
        <h1>WELCOME TO THE WRITER'S DASHBOARD</h1>

        <a class="btn btn-outline-primary" href="{{url_for('main.create_post')}}">Create a post here</a>

    </div>
</div>

</div>
<div class="container">
    {%for post in posts%}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="/post/{{post.id}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.blog}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.user.username}}</a>
            {{post.blog_created}}</p>
        </div>
        <a class="btn btn-info" href="/ublog/{{post.id}}">Update Blog</a>
        <a class="btn btn-danger" href="/dblog/{{post.id}}">Delete Blog</a>
        <a class="btn btn-primary" href="/viewcomments/{{post.id}}">View Comments</a>
      </div>
    </div>
    {%endfor%}
  </div>
{%endblock%}